services:
  app:
    build: .
    container_name: clinica_app
    ports:
      - "8080:8080"
    env_file: .env
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: postgres_clinica
    ports:
      - "5432:5432"
    env_file: .env
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:o